<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <th:block th:insert="~{fragments/head :: head}"></th:block>
    <title>Error page</title>

</head>

<link rel="stylesheet" href="/static/css/flatly/bootstrap.min.css" th:href="@{css/flatly/bootstrap.min.css}"/>
</head>

<body>


<main class="container">
    <h1>Sadly an error occurred :-(</h1>
</main>

<footer class="footer">
    <th:block th:insert="~{fragments/footer :: footer}"></th:block>
</footer>

<!--show description when mouse is over eye icon-->
<script src="main.js"></script>

</body>
</html>